body {
    background: #dcdcdc;
}

.title {
    text-align: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.panel {
    display: flex;
    border: 1px solid;
    height: 40vh;
    margin: 0 auto;
    justify-content: space-around;
}

.listPrototype {
    margin: 0 auto;
    height: 8vh;
    border: 1px solid;
}